

#myfirstexcercise {
    background-image: url("../img/pexels-photo-1038674.jpeg");
    margin: auto;
    width: 100%;
    padding: 10px;
}


#centeredDiv {
  margin: auto;
  width: 800px;
  border-style: solid;
  background-color: white;
  padding-left:20px;
  padding-right:20px;
}

div.paddedDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: ridge;
  text-align:center;
  margin-top:20px;
  margin-bottom:10px;
}

.content, aside{
   height: 600px;
}

#mysecondexcercise {
    min-width: 800px;
    width: 80%;
    margin: auto;
    background-color: lightblue;
    overflow: hidden;
}

.content {
  width: 70%;
  float: left;
  /*background-color: pink;*/
  /*background-image: url("../img/pexels-photo-1038674.jpg");*/
}

aside {
    width: 30%;
    /*background-color: yellow;*/
    background-image: url("../img/bookandpen.jpg");
    /*padding-left: .5rem;
    margin-left: .5rem;*/
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

footer{
  clear: both;
}

a {
    color: blue;
    font-weight: bold;
}
